<nav
  class="navbar sticky-top navbar-expand-lg bg-light" id="menuBar"
  data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <!-- Menu -->
        <li class="nav-item">
          <a class="nav-link" href="/event">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/tournaments">Tournaments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li><li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">dashboard</a>
        </li>
      </ul>
      <div style="margin-right: 100px;">
        <img src="assets/img/logo.png" width="100px" height="100px">
      </div>
    </div>
  </div>
</nav>

