<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username">Usuario (email):</label>
    <input type="email" id="username" formControlName="username">

    <div class="alert alert-danger" *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">Aquest camp és obligatori.</div>
    <div class="alert alert-danger" *ngIf="loginForm.get('username')?.errors?.['pattern'] && loginForm.get('username')?.touched">El formato del email es incorrecto.</div>
  </div>
  <div>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" formControlName="password" appDniValidator>

    <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">Aquest camp és obligatori.</div>
    <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors?.['invalidDni'] && loginForm.get('password')?.touched">El DNI no es válido.</div>
    <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors?.['invalidDniLetter'] && loginForm.get('password')?.touched">La letra del DNI es incorrecta.</div>
  </div>
  <div>
    <button type="button" [disabled]="!isFormValid" (click)="goBack()">Enrere</button>
    <button type="submit" [disabled]="!isFormValid">Següent</button>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</form>
