<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2>Welcome to Our Website</h2>
      <p>This is the home page of our website. Feel free to explore!</p>
      <div class="card">
        <div class="card-header">
          Featured Products
        </div>
        <div class="card-header">
          <button (click)="enviar()">Log Out</button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card">
                <img class="card-img-top" alt="Product Image">
                <div class="card-body">
                  <h5 class="card-title">News news news</h5>
                  <p class="card-text">big big big big new new new</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          Latest News
        </div>
        <div class="card-body">
          <div>
            <h5>Breaking News</h5>
            <p>lorem34</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
