<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Exercici Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/quisom">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/equip">Equipo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proves">Proves</a>
        </li>
        <li class="nav-item" *ngIf="logeado != 'true'">
          <a class="nav-link" routerLink="/registro">Registrarse</a>
        </li>
        <li class="nav-item" *ngIf="logeado != 'true'">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="logeado == 'true'">
          <a class="nav-link" routerLink="/merchandising">Merchandising</a>
        </li>
        <li class="nav-item" *ngIf="logeado == 'true'">
          <a class="nav-link" routerLink="/compra">Compra</a>
        </li>
        <li class="nav-item" *ngIf="logeado == 'true'">
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
