
<p>Usuaris: ruta /login al servidor</p>
<div>
  <!--<form #loginForm="ngForm">
  <input type="text" id="username" name="username" [(ngModel)]="info.usuari" class="ng-untouched ng-pristine ng-valid"/>
  <br>
  <input type="text"id="userpass" name="userpass" [(ngModel)]="info.contrasenya" class="ng-untouched ng-pristine ng-valid"/>
  <br>
  <button [disabled]="loginForm.invalid" (click)="testLogin()">Validate</button>
  <br>
  </form>-->
  <!--Formularis reactius: https://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=91&codigo=91&inicio=80 -->
  <form [formGroup]="loginForm" (ngSubmit)="testLogin()">
    <label>Nom d'usuari: </label>
    <input type="text" id="usuari" formControlName="usuari" /><br>
    <label *ngIf="loginForm.get('usuari')?.errors?.['required'] && loginForm.get('usuari')?.touched" class = "error"> *El nom d'usuari no pot estar buit. </label>
    <label *ngIf="loginForm.get('usuari')?.errors?.['minlength'] && loginForm.get('usuari')?.touched" class = "error"> *Ha de contenir com a mínim 3 caràcters. </label>
    <label *ngIf="loginForm.get('usuari')?.errors?.['maxlength'] && loginForm.get('usuari')?.touched" class = "error"> *Ha de contenir com a màxim 20 caràcters. </label>

    <br>
    <label>Contrasenya: </label>
    <input type="password" id="contrasenya" formControlName="contrasenya" /><br>
    <label *ngIf="loginForm.get('contrasenya')?.errors?.['required'] && loginForm.get('contrasenya')?.touched" class = "error"> * La contraenya no pot estar buida. </label>
    <br>
    <button type ="submit" [disabled]="loginForm.invalid">Init session</button>
    <br>
  </form>
  <div *ngIf="message">
    Credencials incorrectes
  </div>

</div>


