<!--<p>proves-connectar works!</p>-->
<!--<div *ngFor="let post of posts">-->
<!--    {{post.id}} -&#45;&#45; {{post.title}}-->
<!--</div>-->

<!--<h1>Users -&#45;&#45;&#45;&#45; </h1>-->
<!--<div *ngFor="let person of data">-->
<!--  {{person.id}} -&#45;&#45; {{person.first_name}}-->

<!--  Id : {{person.id}} -&#45;&#45;-->
<!--  Email : {{person.email}} <br>-->

<!--</div>-->

<div>
  <button (click)="getAllUsers()">List All Users</button>
  <div *ngFor="let item of users | keyvalue">
    Username: {{ item.value.username }} - Password: {{ item.value.userpass }}
  </div>
</div>

<br>


<div>
  <form (ngSubmit)="getSingleUserPassword()">
    <div>
      <input type="text" name="singleUser" id="singleUser" [(ngModel)]="singleUser" placeholder="Username">
    </div>
    <div>
      <input type="submit" value="single User Post">
    </div>
  </form>

  <div *ngFor="let item of singleUserData | keyvalue">
    Password: {{ item.value.userpass }}
  </div>
</div>

<br>

<div>
  <form (ngSubmit)="getSingleUserPasswordByURL()">
    <div>
      <input type="text" name="singleUserUrl" id="singleUserUrl" [(ngModel)]="singleUserURL" placeholder="Username">
    </div>
    <div>
      <input type="submit" value="singleUser Get By Url">
    </div>
  </form>

  <div *ngFor="let item of singleUserDataURL | keyvalue">
    Password: {{ item.value.userpass }}
  </div>
</div>
<br>


<div style="margin-top: 20px;">
  <form (ngSubmit)="createUser()">
    <div>
      <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Username">
    </div>
    <div>
      <input type="password" name="userpass" id="userpass" [(ngModel)]="userpass" placeholder="Password">
    </div>

    <button type="submit">Create User</button>
  </form>
</div>


