<app-navbar></app-navbar>

<div class="text-center">
  <h1>Equipo Provençana</h1>

  <div class="d-flex justify-content-around">


    <div class="person">
      <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Logo 1">
      <h4>Nombre: <p>Abdullah</p></h4>
      <h4>Estudios: <p>FP-DAW</p></h4>
      <h4>Intereses: <p>No lo sabe</p></h4>
    </div>

    <div class="person">
      <img class="logo" src="../../../assets/img/avatar1.jpg" alt="Logo 1">
      <h4>Nombre: <p>Shah Zaib</p></h4>
      <h4>Estudios: <p>FP-DAW</p></h4>
      <h4>Intereses: <p>Yo tampoco</p></h4>
    </div>

    <div class="person">
      <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Logo 1">
      <h4>Nombre: <p>Pol Moreno</p></h4>
      <h4>Estudios: <p>FP-DAW</p></h4>
      <h4>Intereses: <p>Y yo tampoco</p></h4>
    </div>
  </div>
</div>

<div class="text-center">
  <h1>Equipo UPC</h1>

  <div class="d-flex justify-content-around">


    <div class="person">
      <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Logo 1">
      <h4>Nombre: <p>Jordi</p></h4>
      <h4>Estudios: <p>Teleco-UPC</p></h4>
      <h4>Intereses: <p>No lo sabe</p></h4>
    </div>

    <div class="person">
      <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Logo 1">
      <h4>Nombre: <p>Joan</p></h4>
      <h4>Estudios: <p>Teleco-UPC</p></h4>
      <h4>Intereses: <p>Y yo tampoco</p></h4>
    </div>

    <div class="person">
      <img class="logo" src="../../../assets/img/avatar1.jpg" alt="Logo 1">
      <h4>Nombre: <p>Jan</p></h4>
      <h4>Estudios: <p>Teleco-UPC</p></h4>
      <h4>Intereses: <p>Yo tampoco</p></h4>
    </div>


  </div>
</div>


