<div class="container">
  <div class="row mt-5">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Imagen</th>
          <th scope="col">Nom</th>
          <th scope="col">Descripcio</th>
          <th scope="col">Preu</th>
          <th scope="col">Quantitat</th>
          <th scope="col">Preu x Quantitat</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of parsedData">
          <td><img src="assets/{{ producto.nomImatge }}" alt="" width="100px"></td>
          <td>{{ producto.nomProducte }}</td>
          <td>{{ producto.descripcio }}</td>
          <td>{{ producto.preu }}</td>
          <td>{{ producto.quantitat }}</td>
          <td>{{ producto.preu * producto.quantitat }}</td>
        </tr>
        </tbody>


      </table>

      <div>
        <h2>Total :  {{this.preuxcuantitat}}€</h2>
      </div>

      <div>
        <button class="btn btn-success" (click)="finalizarCompra()">Compra final</button>
        <button class="btn btn-danger m-2" (click)="cancelarCompra()">Cancelar</button>
      </div>


      <div>
        <h3>{{this.messageFinalizarCompra}}</h3>
      </div>
    </div>
  </div>
