<div class="container">

  <div class="text-center">
    <h1>Proven</h1>

  </div>

  <div class="proven d-flex justify-content-around mt-5">


    <div class="card" style="width: 18rem;">
      <img src="assets/avatar1.jpg">
      <div class="card-body">
        <h1 class="text-center">Abdel</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del Proveçana</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="assets/avatar2.jpg">
      <div class="card-body">
        <h1 class="text-center">Shebi</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del Proveçana</p>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="assets/avatar1.jpg">
      <div class="card-body">
        <h1 class="text-center">Pol</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del Proveçana</p>
      </div>
    </div>
  </div>



  <div class="text-center mt-5">
    <h1>UPC</h1>

  </div>

  <div class="proven d-flex justify-content-around mt-5">


    <div class="card" style="width: 18rem;">
      <img src="assets/avatar1.jpg">
      <div class="card-body">
        <h1 class="text-center">Xmen</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del UPC</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="assets/avatar1.jpg">
      <div class="card-body">
        <h1 class="text-center">SpiderMan</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del UPC</p>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <img src="assets/avatar1.jpg">
      <div class="card-body">
        <h1 class="text-center">SuperMan</h1>
        <p class="text-center">Es el niño mas listo de la clase y es del UPC</p>
      </div>
    </div>
  </div>

</div>
