<div class="container">
  <h3>Equipo de desarrollo web UPC</h3>
  <div class="d-flex justify-content-between">
    <div><img src="assets/img/avatar2.jpg" alt="Juli" width="300px">
      <p>Nombre: Julian</p>
      <p>Estudios: DAW Proven</p>
      <p>Intereses: Jugar juegos(porros)</p>
    </div>
    <div><img src="assets/img/avatar2.jpg" alt="Christian" width="300px">
      <p>Nombre: Christian</p>
      <p>Estudios: DAW Proven</p>
      <p>Intereses: Jugar juegos(porros)</p>
    </div>
    <div><img src="assets/img/avatar2.jpg" alt="Luis" width="300px">
      <p>Nombre: Luis</p>
      <p>Estudios: DAW Proven</p>
      <p>Intereses: Jugar juegos(porros)</p>
    </div>
  </div>
</div>
