<div id="homeBody">


</div>


<div>
  <h1 class="text-center" style="margin-top: 80px">About Us</h1>

</div>
<div class="bod">
  <div class="cards-container">
    <div class="person">
      <img class="logo" src="../../../assets/img/ferrari.png" alt="Avatar 2">
      <h4 class="name">Abdullah Waris</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
    <div class="person">
      <img class="logo" src="../../../assets/img/blanco.png" alt="Avatar 2">
      <h4 class="name">Shah Zaib</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
    <div class="person">
      <img class="logo" src="../../../assets/img/blanco_ed.jpg" alt="Avatar 2">
      <h4 class="name">Pol Moreno</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
    <div class="person">
      <img class="logo" src="../../../assets/img/fondo.jpg" alt="Avatar 2">
      <h4 class="name">Jan Viñas</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
    <div class="person">
      <img class="logo" src="../../../assets/img/maquina.png" alt="Avatar 2">
      <h4 class="name">David Peludo</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
    <div class="person">
      <img class="logo" src="../../../assets/img/fondo_4.jpg" alt="Avatar 2">
      <h4 class="name">Alex Calvo</h4>
      <div class="info">
        <h6>Estudios: <span>FP-DAW</span></h6>
        <p style="font-weight: bold">Descripción:</p>
        <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como frameworks</p>
      </div>
    </div>
  </div>


</div>

