<div id="homeBody">


</div>


<div id="aboutUs">
  <h1 class="text-center" style="margin-top: 80px">About Us</h1>


  <div class="bod">
    <div class="cards-container">
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar1.jpg" alt="Avatar 1">
        <h4 class="name">Abdullah Waris</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Avatar 2">
        <h4 class="name">Shah Zaib</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar3.jpg" alt="Avatar 3">
        <h4 class="name">Pol Moreno</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar3.jpg" alt="Avatar 3">
        <h4 class="name">Jan Viñas</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar2.jpg" alt="Avatar 2">
        <h4 class="name">David Peludo</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
      <div class="person">
        <img class="logo" src="../../../assets/img/avatar1.jpg" alt="Avatar 1">
        <h4 class="name">Alex Calvo</h4>
        <div class="info">
          <h6>Estudios: <span>FP-DAW</span></h6>
          <p style="font-weight: bold">Descripción:</p>
          <p>Programador Full Stack con 2 años de experiencia, programa en JS y PHP, usa Angular, React y Laravel como
            frameworks</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="contactUs">
  <form class="contact-form">
    <h2>Contact Us</h2>
    <fieldset>
      <!-- Nom -->
      <div class="form-group">
        <label for="nombre">Nom* :</label>
        <input type="text" class="form-control" id="nombre" placeholder="Pon tu nombre">

      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email* :</label>
        <input type="text" class="form-control" id="email" placeholder="Email">
      </div>

      <!-- Mensaje -->
      <div class="form-group">
        <label for="mensaje">Mensaje* :</label>
        <textarea class="form-control" id="mensaje" placeholder="Pon el mensaje" formControlName="mensaje"
                  rows="6"></textarea>
      </div>

      <!-- Boton Submit -->
      <div class="text-center mt-5">
        <button type="submit" class="submit-btn">Enviar</button>
      </div>
    </fieldset>
  </form>
</div>

<app-footer></app-footer>
