<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" formControlName="description">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" formControlName="date">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="time" id="time" formControlName="time">
  </div>
  <button type="submit">Add Event</button>
</form>



<div *ngFor="let event of events">
  <h2>{{ event.name }}</h2>
  <p>{{ event.description }}</p>
  <p>{{ event.date | date }} at {{ event.time }}</p>
</div>
