
<form #perPageForm="ngForm">
  <label for="itemsPerPage">Mostrar por página:</label>
  <select id="itemsPerPage" name="itemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="updateItemsPerPage()">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>
</form>

<ul>
  <li *ngFor="let item of valores | paginate: { itemsPerPage: this.itemsPerPage, currentPage: p }"> {{item.nom}} - {{item.descripcio}} - {{item.preu}}€ </li>
</ul>



<pagination-controls (pageChange)="p = $event"></pagination-controls>
