<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form [formGroup]="login" (ngSubmit)="enviament()">
      <!--  -->
      <div class="form-group">
        <label for="email">Enter your email</label>
        <input type="email" id="email" formControlName="nomUsuari" class="form-control">

        <!-- Es obligatoria -->
        <div *ngIf="this.login.get('nomUsuari')?.errors?.['required'] && this.login.get('nomUsuari')?.touched"
          class="alert alert-danger" id="errors_div">
          Aquest camp és obligatori.
        </div>
      </div>

      <!--  -->
      <div class="form-group">
        <label for="password">Enter your password</label>
        <input type="password" id="password" formControlName="contrasenya" class="form-control">

        <!-- Es obligatoria -->
        <div *ngIf="this.login.get('contrasenya')?.errors?.['required'] && this.login.get('contrasenya')?.touched"
          class="alert alert-danger" id="errors_div">
          Aquest camp és obligatori.
        </div>
      </div>
      <!-- Password olvidado
      <a href="#">Forgot password?</a> -->

      <!-- Mensaje de errores -->
      <div *ngIf="mensaje" [ngClass]="mensaje.includes('incorrectes') ? 'alert-danger' : 'alert-success'"
        class="alert mt-3">
        {{ mensaje }}
      </div>

      <!-- Boton enviar-->
      <button type="submit" class="btn login-btn">Login</button>
      <p>Don’t have an account? <a href="/register">Signup now</a></p>
    </form>
  </div>

  <!-- foto -->
  <div class="login-banner">
    <p>Every new friend is a new adventure.<br>Let's get connected</p>
  </div>
</div>
