#menuBar {
  background-color: #afaeaf;
}

* {
  color: black;
  font-size: 16px;
}

.navbarTop {
  margin-right: 10em;
}

.dropdown-center .dropdown-menu {
  left: 50%; /* Posiciona el inicio del menú desplegable en el 50% del elemento padre */
  transform: translateX(-50%); /* Mueve el menú desplegable un 50% hacia atrás en su propio ancho, centrándolo */
}
