<nav
class="navbar navbar-expand-lg" id="menuBar"
  style="width: 100vw; height: 12vh;"
  data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Exercici Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <!-- Menu -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulari">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-users">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <header>
    <h1>
      This is the title.
      <div class="bg-gradient"></div>
      <div class="bg-gradient two"></div>
    </h1>
  </header>
</main>
