<app-navbar></app-navbar>

<div class="navbar">
  <img class="logo" src="../../../assets/img/logoProven.png" alt="Logo 1">
  <img class="logo" src="../../../assets/img/logoUpc.png" alt="Logo 2">
</div>
<div class="quiensom">
  <h2>¿Quiénes Somos?</h2>
  <p>Somos un equipo de 3 personas que estudian en el Instituto Provençana y se han unido con 3 personas de otro centro
    para realizar un proyecto increíble sobre el juego que los alumnos de la UPC han creado.</p>

</div>
<img class="logo3" src="../../../assets/img/imatge1.jpg" alt="Logo 3" height="300px">

